body{
  font-family: Arial;
}
p{
  font-size: 15px;
}

.item img{
  height: 150px;
}
.items{
  display: webkit-flex;
  -webkit-flex-direction: row;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
input[type=text]{
  padding: 6px;
  font-size: 16px;
  border-radius: 3px;
}
.callout{
  border-radius: 3px;
}
.top-bar, .top-bar ul{
  color: white;
  background-color: #242424;
}
.top-bar a, .menu-text{
  color: white;
}
.create-form input{
  width: 400px;
}
.short{
  width: 400px;
}
.long{
  width: 640px;
}
h1 small{
  font-size: 25px;
  color: #868686;
}