<!-- <h1>Register</h1>
  <form ng-submit="signin()">
    <input ng-model="username" type="text" name="username"/>
    <input ng-model="password" type="password" name="password"/>
    <input type="submit" value="Register now"/>
  </form> 
<span><a href="#/login">Go to login page</a></span>
 -->
<div class="row">
<div class="medium-5 large-3 columns">
  <h3>Register</h3>
  <div class="callout secondary">
    <form ng-submit="signin()">
      <div class="row">
        <div class="small-12 columns">
          <label>Username
            <input ng-model="username" type="text" name="username"/>
          </label>
        </div>
        <div class="small-12 columns">
          <label>Password
            <input ng-model="password" type="password" name="password"/>
          </label>
          <button type="submit" class="button">Login</button>
          <label><a href="#/login">Go to login page</a></label>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

