<div class="dashboard">
<div class="row">
  <h1>Yasu's dashboard</h1>
  <h3>You are currently selling {{data.length}} items</h3>
  <h1>{{test}}</h1>
  <h4>Filter your items: </h4>
  <input type="text" ng-model="filter.items" class="short"/><br>
  <span ng-if="message" class="success radius label">{{message}}</span>
</div>
<div class="items row small-up-1 medium-up-2 large-up-3">
  <div class="item column" ng-repeat="item in data | filter: filter.items">
    <div class="callout" ng-click="deleteItem(item.id)">
      <p>{{item.name}}</p>
      <img src="{{item.imageUrl}}">
      <p class="lead"> $ {{item.price}} USD</p>
      <p class="subheader">{{item.description}}</p>
    </div>
  </div>
</div>
</div>